@use "./../../style.scss";

.WorkPage {
    .wTitle {
        display: flex;
        flex-direction: column;

        padding: var(--gap);
        gap: var(--gap);

        background: var(--cb);
        color: var(--ca);
    }
}