@use "./../../style.scss";

.CForm {
    display: flex;
    flex-direction: column;

    padding: var(--gap);
    gap: calc(var(--gap)*2);

    border-radius: var(--gap);
    
    background: var(--cb);
    color: var(--ca);

    & input, & textarea {
        all: unset;

        min-height: 2em;

        padding: calc(var(--gap)/2);

        font-weight: 800;

        border-radius: calc(var(--gap)/2);

        background: var(--ca);
        color: var(--cb);
    }

    & textarea {
        min-height: 7rem;
    }

    input[type="submit"] {
        display: flex;
        justify-content: center;

        padding: var(--gap);

        background: var(--c1);
        color: var(--ca);
    }

    .middle {
        display: flex;
        gap: var(--gap);
    }
    .name, .email, .msg {
        display: flex;
        flex-direction: column;

        gap: calc(var(--gap)/2);
        width: 100%;
    }
}