@use "./../../style.scss";

.ContactForm {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background: var(--cb);
    
    & img, form {
        flex: 1;

        width: 100%;
        padding: 2rem 1rem;
    }

    & img {
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    .ContactForm {
        flex-direction: column;

        & img {
            width: 100%;
        }
    }
}