:root {
    --c_1: #fff;
    --c_2: #000;
    --c_3: #ff6a00;

    --gap: 10px;
    --size: 2rem;

    --time: 1s;
}

@mixin f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin show { display: block; }
@mixin hide { display: none; }