@use "./../style.scss";

.Work {
    width: 100%;

    background: var(--c_2);
    color: var(--c_1);

    overflow-x: hidden;
}
.Work > .title {
    width: 50%;

    font-family: 'Poiret One', cursive;
    font-size: 4rem;
    text-align: center;

    border-bottom-right-radius: 100px;

    background: var(--c_1);
    color: var(--c_2);
}






@media screen and (max-width: 900px) {
    .Work > .title {
        width: 100%;
        text-align: center;
    }
}