@use "./../style.scss";

.NavBtn {
    min-width: 10rem;

    margin: calc(var(--gap)/2);
    padding: var(--gap);
    
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    
    border: 1px solid transparent;
    border-radius: 5px;
    
    cursor: pointer;
    
    background: var(--c_2);
    color: var(--c_1);
}
.NavBtn:hover,
.NavBtn:focus {
    animation: btnAnime 700ms infinite;
}
@keyframes btnAnime {
    25% {
        border: 1px solid transparent;
        border-left: 1px solid var(--c_1);
    }
    50% {
        border: 1px solid transparent;
        border-top: 1px solid var(--c_1);
    }
    75% {
        border: 1px solid transparent;
        border-right: 1px solid var(--c_1);
    }
    100% {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--c_1);
    }
}